:root {
  --pixel-green:            rgb(0,160,0);
  --pixel-green-highlight:  rgb(116, 205, 0);
  --pixel-green-hover:      rgb(136, 205, 0);
  --star-wars-yellow:       rgb(255, 232, 31);
  --snes-purple:            rgb(167, 164, 224);
  --snes-dark-purple:       rgb(81, 70, 137);
  --snes-grey:              rgb(178, 180, 178);
  --snes-dark-grey:         rgb(84, 88, 90);
  --snes-dark-grey-2:       rgb(112, 115, 114);
  --blog-dark:              rgb(35, 39, 47);
  --blog-light:             #363d49;
}

@font-face {
  font-family: "Munro";
  src: url(../../public/Munro.ttf);
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 960px 0;
  }
}

a {
  color: var(--pixel-green);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: black;
  background-image: url(../../public/img/Stars.png);
  background-repeat: repeat;
  animation: animatedBackground 180s linear infinite;
  margin: 0;
  font-family: "Munro", sans-serif;
  color: var(--pixel-green);
  text-shadow: -3px 0 var(--pixel-green-highlight), 0 3px var(--pixel-green-highlight), 3px 0 green, 0 -3px var(--pixel-green-highlight);
  letter-spacing: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {

  cursor: pointer;
  margin: auto;
  width: fit-content;
  
  P {
    font-size: 4em;
    margin: 0;

    @media screen and (max-width: 1400px) {
      font-size: 3em;
    }
  
    @media screen and (max-width: 600px) {
      font-size: 2.5em;
    }

  }
  
  p:hover {
    font-size: 5em;
    text-decoration: underline;

    @media screen and (max-width: 1400px) {
      font-size: 4em;
    }
  
    @media screen and (max-width: 600px) {
      font-size: 3em;
    }

  }

  img {
    width: 40px;
    height: 40px;
  }

  img:hover {
    font-size: 4em !important;
    width: 48px;
    height: 48px;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.center {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h1 {
  font-size: 6em;
  margin: 0;
}

@keyframes zoomRight {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000000% 0;
  }
}

.zoom {
  animation: zoomRight .5s linear !important
}

.grid {
  display: grid; 
  grid-template-columns: auto auto auto;

  @media screen and (max-width: 1400px) {
    grid-template-columns: auto auto;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: auto;
  }
}

.window {
  width: fit-content;
  padding: 24px;
  margin: auto;
}

.window-item {
  background-color: var(--blog-dark);
  border-color: var(--blog-light);
  border-width: 8px;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 20px -10px var(--star-wars-yellow);
  margin: 16px;
  padding: 16px 64px;

  @media screen and (max-width: 1400px) {
    padding: 16px 32px;
  }

  @media screen and (max-width: 600px) {
    padding: 16px 8px;
  }

}
